fastapi
uvicorn[standard]
python-dotenv
yt-dlp[default]
moviepy==1.0.3
google-generativeai
google-api-python-client
google-auth-oauthlib
requests
supabase
python-multipart
apscheduler
pytz
imageio-ffmpeg
